body {
  background: url("./background.jpg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
 }

 .container{
  position:relative;
  margin-top: 18%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
 }

 #avatar{
   border-radius: 50%;
   border: 5px solid rgba(255, 255, 255, 0.6);
   width: 190px;
   margin-bottom: -58px;
   z-index: 2;
   top: 4.5vh;
   -webkit-box-shadow: 0px 20px 50px 10px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 20px 50px 10px rgba(0,0,0,0.75);
   box-shadow: 0px 20px 50px 10px rgba(0,0,0,0.75);

 }

 .quote-container{
  display:flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
  align-items:center;
  border-radius:14px;
  min-width: 00px;
  z-index: 1;
  padding: 0 3% 1% 3%;
  transition: all 1s;
 }

 .quote-container h2{
   font-family: 'Finger Paint', cursive;
   font-size: 24px;
   text-align:center;
   color: black;
   padding-top: 50px;
   margin-bottom: 0;
   margin-top: 80px
 }

 #quote{
   border-top: 1px solid rgba(0, 0, 0, 0.5);
   padding: 15px 10px 0px 10px;
   margin: 5px;
   font-family: 'Roboto', sans-serif;
   transition: all 1s;
   text-align:center;
 }

 .quote-container .buttons{
  display: flex;
  margin: 25px 0px 0px 0px;
  color:#fff;
  
}

.quote-container .buttons button{
  display: block;
  width:85px;
  height: 35px;
  border-radius: 14px;
  border: none;
  padding: 5px 0px;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
  font-size: 14px;
  background-color: white;
  outline: none;
}

.quote-container .buttons a + button{
  margin-left: 150px;
  
}

.quote-container .buttons button:hover{
 background:black;
 cursor: pointer;
}

.quote-container .buttons button:focus{
  border: 1px solid white;
 }

.fa-twitter{
  width: 100%;
  height: 100%;
}

.fa-question{
  width: 100%;
}

.fa-twitter:hover{
  color:white;
}

.fa-question:hover{
  color:white;
}

.loading{
  animation: rotateInfinite 1000ms linear;
}

@keyframes rotateInfinite{
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
  }
}


/* media queries */

@media only screen and (max-width: 320px) {

.container{
  padding: 35px;
}

#avatar{
  width: 90px;
}

.quote-container h2{
  padding: 20% 0 1% 0;
}

.quote-container{
  min-width: 100px;
  min-height: 200px;
  padding: 0 10% 3% 10%;
}

.quote-container .buttons{
  margin: 30px 0px 8px 0px;
}
.quote-container .buttons a + button{
  margin-left: 50px;
  }
}

/* iphone6-8plus */
@media only screen and (min-width: 321px) and (max-width: 414px) {
  
  #avatar {
    width: 90px;
  }

  .container{
    padding: 100px;
  }

  .quote-container {
    min-width: 300px;
    padding: 0 10% 3% 10%;
  }

  .quote-container h2 {
    padding: 15% 0px 1% 0px;
    margin: 10px;
  }

  .quote-container .buttons {
    margin: 20px 0px 10px 0px;
  }

  .quote-container .buttons a + button {
    margin-left: 75px;
}

  .quote-container .buttons button {
    width: 60px;
    font-size: 10px;
  }

}


@media only screen and (min-width: 415px) and (max-width: 1024px) {
  
  .quote-contanier{
  min-width: 600px;
}

  .quote-container h2{
    margin-top: 10px
  }

}

@media only screen and (min-width: 1025px){
  .quote-container{
  min-width: 700px;
  max-width: 700px;
}

  .quote-container h2{
    margin-top: 20px
  }
}

